.about-cat {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
}

.about-cat__inner {
  display: flex;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-right: 20px;
  padding-left: 20px;

  flex-wrap: wrap;
}

.about-cat__wrapper {
  display: flex;

  width: inherit;
  margin-bottom: 15px;

  flex-basis: 280px;
  justify-content: space-between;
}

.about-cat__label {
  align-self: center;
}

.about-cat__input {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 18px;

  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 15px;

  border: $borderGrayTypeOne;
}

.about-cat__input-name {
  width: 230px;

  flex-basis: 230px;
}

.about-cat__input-weight {
  width: 204px;

  flex-basis: 204px;
}

.about-cat__input-age {
  width: 172px;

  flex-basis: 172px;
}

//Стили для средней ширины
@media (min-width: $mediumDeviceWidth) {
  .about-cat {
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
  }

  .about-cat__inner {
    justify-content: space-between;
    width: $mediumDeviceWidth;
    padding-right: 67px;
    padding-left: 71px;
  }

  .about-cat__wrapper {
    flex-basis: 708px;
    width: 708px;
    height: 57px;
  }

  .about-cat__label {
    font-size: $lowFontSize;
    line-height: 20px;
  }

  .about-cat__input {
    margin-top: 5px;
    font-size: $lowFontSize;
    line-height: 20px;

    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px;

    border: $borderGrayTypeOne;
  }

  .about-cat__input-name {
    width: 567px;

    flex-basis: 567px;
  }

  .about-cat__input-weight {
    width: 536px;

    flex-basis: 536px;
  }

  .about-cat__input-age {
    width: 497px;

    flex-basis: 497px;
  }
}

//Стили для большой ширины
@media (min-width: $largeDeviceWidth) {
  .about-cat {
    padding-bottom: 0;
  }

  .about-cat__wrapper:first-of-type {
    margin-top: 0;
  }

  .about-cat__inner {
    width: 720px;
    min-height: 196px;
    padding-right: 0;
    padding-left: 110px;
  }

  .about-cat__input-name {
    width: 475px;

    flex-basis: 475px;
  }

  .about-cat__input-weight {
    width: 435px;

    flex-basis: 435px;
  }

  .about-cat__input-age {
    width: 495px;

    flex-basis: 495px;
  }
}
