.about-cat {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
}

.about-cat__inner {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: $smallDeviceWidth;
  padding-left: 20px;
  padding-right: 20px;
}

.about-cat__wrapper {
  margin-top: 14px;

  flex-basis: 280px;
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.about-cat__label {
  align-self: center;
}

.about-cat__input {
  box-sizing: border-box;
  border: $borderGrayTypeOne;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-cat__input-name {
  flex-basis: 230px;
  width: 230px;
}

.about-cat__input-weight {
  flex-basis: 204px;
  width: 204px;
}

.about-cat__input-age {
  flex-basis: 172px;
  width: 172px;
}

@media (min-width: 768px) {
  .about-cat__inner {
    width: $mediumDeviceWidth;
    padding-left: 71px;
    padding-right: 71px;
  }

  .about-cat__wrapper {
    flex-basis: 708px;
  }

  .about-cat__input-name {
    flex-basis: 565px;
    width: 565px;
  }

  .about-cat__input-weight {
    flex-basis: 534px;
    width: 534px;
  }

  .about-cat__input-age {
    flex-basis: 495px;
    width: 495px;
  }

}
