.advantages-list {
  margin: 0;
  padding: 0;
  font-weight: 400;

  list-style: none;
}

.advantages-list__item {
  font-family: "Arial", sans-serif;
  font-size: $smallFontSize;
  line-height: 18px;

  position: relative;

  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  color: $thirdFontColor;
}

.advantages-list__item:last-of-type {
  margin-bottom: 0;
}

.advantages-list__first-item-img::before {
  position: absolute;
  top: -2px;
  left: 0;

  width: 60px;
  height: 60px;

  content: "";

  background-color: #68b738;
}

.advantages-list__first-item-img::after {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 60px;
  height: 60px;

  content: "";

  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px auto;
  }
}

.advantages-list__second-item-img::before {
  position: absolute;
  top: -2px;
  left: 0;

  width: 60px;
  height: 60px;

  content: "";

  background-color: #68b738;
}

.advantages-list__second-item-img::after {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 60px;
  height: 60px;

  content: "";

  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px auto;
  }
}

.advantages-list__third-item-img::before {
  position: absolute;
  top: -2px;
  left: 0;

  width: 60px;
  height: 60px;

  content: "";

  background-color: #68b738;
}

.advantages-list__third-item-img::after {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 60px;
  height: 60px;

  content: "";

  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px auto;
  }
}

.advantages-list__fourth-item-img::before {
  position: absolute;
  top: -2px;
  left: 0;

  width: 60px;
  height: 60px;

  content: "";

  background-color: #68b738;
}

.advantages-list__fourth-item-img::after {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 60px;
  height: 60px;

  content: "";

  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px auto;
  }
}

@media (min-width: 768px) {
  .advantages-list__item {
    font-size: $basicFontSize;
    line-height: $mediumLineHeight;

    width: 254px;
    margin-bottom: 88px;
    padding-top: 112px;
    padding-right: 70px;
    padding-bottom: 45px;
    padding-left: 0;

    flex-basis: 254px;
  }

  .advantages-list__item--no-margin {
    margin-bottom: 0;
  }

  .advantages-list__first-item-img::after {
    top: 15px;
    left: 15px;

    width: 80px;
    height: 80px;
  }

  .advantages-list__second-item-img::after {
    top: 15px;
    left: 15px;

    width: 80px;
    height: 80px;
  }

  .advantages-list__third-item-img::after {
    top: 15px;
    left: 15px;

    width: 80px;
    height: 80px;
  }

  .advantages-list__fourth-item-img::after {
    top: 15px;
    left: 15px;

    width: 80px;
    height: 80px;
  }

  .advantages-list__first-item-img::before {
    top: 0;

    width: 80px;
    height: 80px;
  }

  .advantages-list__second-item-img::before {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }

  .advantages-list__third-item-img::before {
    top: 0;

    width: 80px;
    height: 80px;
  }

  .advantages-list__fourth-item-img::before {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }

  .advantages-list__item--first-item-bg {
    position: relative;
    z-index: 1;
  }

  .advantages-list__item--first-item-bg::before {
    font-family: $oswaldRegular;
    font-size: 281px;
    line-height: 281px;

    position: absolute;
    z-index: -1;
    top: -39px;
    left: 118px;

    content: "1";

    color: #f2f2f2;
  }

  .advantages-list__item--second-item-bg {
    position: relative;
    z-index: 1;
  }

  .advantages-list__item--second-item-bg::before {
    font-family: $oswaldRegular;
    font-size: 281px;
    line-height: 281px;

    position: absolute;
    z-index: -1;
    top: -39px;
    left: 110px;

    content: "2";

    color: #f2f2f2;
  }

  .advantages-list__item--third-item-bg {
    position: relative;
    z-index: 1;
  }

  .advantages-list__item--third-item-bg::before {
    font-family: $oswaldRegular;
    font-size: 281px;
    line-height: 281px;

    position: absolute;
    z-index: -1;
    top: -39px;
    left: 113px;

    content: "3";

    color: #f2f2f2;
  }

  .advantages-list__item--fourth-item-bg {
    position: relative;
    z-index: 1;
  }

  .advantages-list__item--fourth-item-bg::before {
    font-family: $oswaldRegular;
    font-size: 281px;
    line-height: 281px;

    position: absolute;
    z-index: -1;
    top: -39px;
    left: 112px;

    content: "4";

    color: #f2f2f2;
  }
}

@media (min-width: 1440px) {
  .advantages-list__item {
    box-sizing: border-box;
    width: 245px;
    margin-bottom: 0;
    padding-top: 112px;
    padding-right: 0;
    padding-left: 0;

    flex-basis: 245px;
  }

  .advantages-list__second-item-img::before,
  .advantages-list__fourth-item-img::before {
    left: 0;
  }

  .advantages-list__second-item-img::after,
  .advantages-list__fourth-item-img::after {
    top: 15px;
  }

  .advantages-list__item:nth-of-type(2n) {
    padding-right: 0;
    padding-left: 0;
  }

  .advantages-list__item--second-item-bg::before {
    left: 112px;
  }

  .advantages-list__item--fourth-item-bg::before {
    left: 113px;
  }
}
