.advantages {
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 42px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: $oswaldRegular;
  font-size: $largeFontSize;
  line-height: 60px;
  font-weight: 400;
  color: $basicFontColor;
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 55px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
  }
}
