.burger-menu {
  position: relative;

  border: none;
  background-color: #000000;
}

.burger-menu--closed {
  width: 24px;
  height: 2px;
  margin-top: 4px;

  &::before {
    position: absolute;
    top: -8px;
    left: 0;

    width: 24px;
    height: 2px;

    content: "";

    background-color: #000000;
  }

  &::after {
    position: absolute;
    top: 8px;
    left: 0;

    width: 24px;
    height: 2px;

    content: "";

    background-color: #000000;
  }
}

.burger-menu--opened {
  background-color: transparent;
  width: 24px;
  height: 2px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 26px;
    height: 2px;

    content: "";
    transform: rotate(-45deg);

    background-color: #000000;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 26px;
    height: 2px;

    content: "";
    transform: rotate(45deg);

    background-color: #000000;
  }
}

.burger-menu--no-js {
  background-color: transparent;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 2px;

    content: "";
    transform: rotate(-45deg);

    background-color: #000000;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 2px;

    content: "";
    transform: rotate(45deg);

    background-color: #000000;
  }
}

@media (min-width: $mediumDeviceWidth) {
  .burger-menu {
    display: none;
  }
}
