.button {
  min-width: 220px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 30px;
  padding-right: 30px;

  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: $fourthFontColor;

  background-color: $bgColorBasic;
}
