.button {
  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  font-weight: 400;
  line-height: 18px;

  min-width: 220px;
  padding-top: 11px;
  padding-right: 30px;
  padding-bottom: 11px;
  padding-left: 30px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: $fourthFontColor;
  background-color: $bgColorBasic;

  &:hover {
    background-color: $bgColorHover;
  }

  &:focus {
    background-color: $bgColorHover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $bgColorHover;
  }
}
