.button {
  min-width: 220px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 30px;
  padding-right: 30px;

  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}
