.categories-slim__image {
  &::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 5px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    left: 10px;
    top: 3px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .categories-slim__image {
    &::before {
      left: 396px;
      top: 52px;
      width: 200px;
      height: 200px;
    }

    &::after {
      position: absolute;
      content: "";
      left: 426px;
      top: 40px;
      width: 140px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 1440px) {
  .categories-slim__image {
    &::before {
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
    }

    &::after {
      position: absolute;
      content: "";
      left: 15px;
      top: -5px;
      width: 70px;
      height: 97px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }
}
