.categories-item {
  margin-bottom: 20px;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  background-color: #f2f2f2;
}

.categories-item:last-of-type {
  margin-bottom: 0;
}

.categories-item__title {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: $mediumFontSize;
  font-weight: 400;
  text-transform: uppercase;
  color: $basicFontColor;
}

.categories-item__about {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;

  border-bottom: 1px solid #d9d9d9;

  font-family: "Arial", sans-serif;
  font-size: $smallFontSize;
  line-height: 18px;
  color: $thirdFontColor;
}

@media (min-width: 768px) {
  .categories-item {
    margin-bottom: 31px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 280px;
    padding-bottom: 60px;

    background-color: #f2f2f2;
  }

  .categories-item--max-padding {
    padding-right: 315px;
  }

  .categories-item__title {
    margin-bottom: 5px;
    padding-left: 0;
    padding-top: 36px;

    font-size: $largeFontSize;
    line-height: 37px;
    color: $basicFontColor;
  }

  .categories-item__about {
    margin-bottom: 35px;
    font-size: $basicFontSize;
    line-height: $mediumLineHeight;
    border-bottom: none;
  }
}

@media (min-width: 1440px) {
  .categories-item {
    margin-bottom: 0;
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;

    background-color: #f2f2f2;
  }

  .categories-item--max-padding {
    padding-right: 60px;
  }

  .categories-item__title {
    margin-bottom: 0;
    padding-left: 165px;
    padding-bottom: 80px;
  }

  .categories-item__about {
    margin-bottom: 35px;
    padding-bottom: 0;
    font-size: $basicFontSize;
    line-height: $mediumLineHeight;
    border-bottom: none;
  }
}
