.categories-button {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 16px;
  text-transform: uppercase;
  color: $basicFontColor;
}

@media (min-width: 768px) {
  .categories-button {
    font-size: $lowFontSize;
    line-height: $lowLineHeight;
  }
}
