.categories {
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .categories {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .categories {
    padding-top: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .categories__item {
    box-sizing: border-box;
    flex-basis: 570px;
    width: 570px;
  }
}
