.categories-slim--image {
  &::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 5px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    left: 10px;
    top: 3px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .categories-slim--image {
    &::before {
      left: 395px;
      top: 50px;
      width: 200px;
      height: 200px;
    }

    &::after {
      position: absolute;
      content: "";
      left: 420px;
      top: 35px;
      width: 140px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }
}
