.categories-item {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: #f2f2f2;
}

.categories-item:last-of-type {
  margin-bottom: 0;
}

.categories-item__title {
  font-size: $mediumFontSize;
  font-weight: 400;

  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;

  text-transform: uppercase;

  color: $basicFontColor;
}

.categories-item__about {
  font-family: "Arial", sans-serif;
  font-size: $smallFontSize;
  font-weight: 400;
  line-height: 18px;

  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;

  color: $thirdFontColor;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $mediumDeviceWidth) {
  .categories-item {
    margin-bottom: 31px;
    padding-top: 40px;
    padding-right: 280px;
    padding-bottom: 60px;
    padding-left: 50px;

    background-color: #f2f2f2;
  }

  .categories-item--max-padding {
    padding-right: 315px;
  }

  .categories-item__title {
    font-size: $largeFontSize;
    line-height: 37px;

    margin-bottom: 5px;
    padding-top: 36px;
    padding-left: 0;

    color: $basicFontColor;
  }

  .categories-item__about {
    font-size: $basicFontSize;
    line-height: $mediumLineHeight;

    margin-bottom: 35px;

    border-bottom: none;
  }
}

@media (min-width: $largeDeviceWidth) {
  .categories-item {
    width: 100%;
    max-width: 570px;
    margin-bottom: 0;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 61px;
    padding-left: 52px;

    background-color: #f2f2f2;
  }

  .categories-item--max-padding {
    padding-right: 60px;
  }

  .categories-item__title {
    margin-bottom: 0;
    padding-bottom: 74px;
    padding-left: 162px;
  }

  .categories-item__about {
    font-size: $basicFontSize;
    line-height: $mediumLineHeight;

    max-width: 465px;
    margin-bottom: 31px;
    padding-bottom: 0;

    border-bottom: none;
  }
}
