.client-contacts {
  position: relative;
  z-index: 1;

  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;

  &::before {
    margin-top: 44px;

    @include title-line();
  }
}

.client-contacts__inner {
  display: flex;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 20px;

  flex-wrap: wrap;
}

.client-contacts__title {
  font-weight: 400;

  position: relative;
  z-index: 1;

  width: $smallDeviceWidth;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 30px 0 0 0;

  background: linear-gradient(to right, transparent 0, transparent 20px, #ffffff 20px, #ffffff 221px, transparent 221px, transparent 100%);
}

.client-contacts__title span {
  display: inline-block;

  width: 200px;
  padding-right: 50px;
  padding-left: 20px;
}

.client-contacts__wrapper {
  display: flex;

  box-sizing: border-box;
  margin-top: 14px;

  flex-basis: 280px;
  justify-content: space-between;
}

.client-contacts__wrapper--no-margin {
  margin: 0;
}

.client-contacts__label {
  margin-right: 10px;

  align-self: center;
  flex-shrink: 0;
}

.client-contacts__input {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 23px;

  box-sizing: border-box;
  height: 45px;
  min-height: 45px;
  padding-right: 40px;
  padding-left: 15px;

  color: $thirdFontColor;
  border: $borderGrayTypeOne;

  flex-grow: 1;
}

.client-contacts__input-email {
  width: 100%;
  max-width: 219px;

  flex-basis: 100%;
}

.client-contacts__input-phone {
  width: 100%;
  max-width: 204px;

  flex-basis: 100%;
}

.client-contacts__wrapper--mail {
  position: relative;
}

.client-contacts__email-icon {
  position: absolute;
  top: 50%;
  right: 17px;

  width: 17px;
  height: 13px;

  transform: translateY(-50%);
}

.client-contacts__wrapper--phone {
  position: relative;
}

.client-contacts__phone-icon {
  position: absolute;
  top: 50%;
  right: 13px;

  width: 20px;
  height: 20px;

  transform: translateY(-50%);
}

.client-contacts__input:active + svg path {
  fill: #68b738;
}

.client-contacts__input:focus + svg path {
  fill: #68b738;
}

//Стили для средней ширины
@media (min-width: $mediumDeviceWidth) {
  .client-contacts {
    padding-bottom: 23px;

    &::before {
      width: 100%;
      margin-top: 72px;

      background: #68b738;
    }
  }

  .client-contacts__inner {
    flex-direction: column;

    width: $mediumDeviceWidth;
    padding-top: 52px;
    padding-right: 65px;
    padding-bottom: 42px;
    padding-left: 71px;

    justify-content: flex-start;
  }

  .client-contacts__title {
    width: $mediumDeviceWidth;
    padding: 50px 0 0;

    background: linear-gradient(to right, transparent 0, transparent 30px, #ffffff 30px, #ffffff 623px, transparent 623px, transparent 100%);
  }

  .client-contacts__title span {
    display: inline-block;

    width: auto;
    padding-right: 50px;
    padding-left: 69px;
  }

  .client-contacts__wrapper {
    width: 100%;
    height: 52px;
    min-height: 52px;
    margin-top: 20px;

    flex-basis: 52px;
  }

  .client-contacts__wrapper--no-margin {
    margin: 0;
  }

  .client-contacts__label {
    margin-right: 16px;
  }

  .client-contacts__label--email-margin {
    margin-right: 19px;
  }

  .client-contacts__label--phone-margin {
    margin-right: 13px;
  }

  .client-contacts__input {
    font-size: $lowFontSize;
    line-height: 20px;

    max-width: 551px;
    height: 52px;
    padding-left: 19px;

    flex-basis: 52px;
  }

  .client-contacts__input-email {
    max-width: 551px;
  }

  .client-contacts__input-phone {
    max-width: 535px;
  }

  .client-contacts__email-icon {
    right: 21px;
  }

  .client-contacts__phone-icon {
    right: 19px;
  }
}

//Стили для большой ширины
@media (min-width: $largeDeviceWidth) {
  .client-contacts {
    padding-bottom: 23px;

    &::before {
      top: 0;

      margin-top: 22px;
    }
  }

  .client-contacts__title {
    box-sizing: border-box;
    width: $largeDeviceWidth;
    padding-top: 0;
    padding-left: 40px;

    background: linear-gradient(to right, transparent 0, transparent 0, #ffffff 0, #ffffff 590px, transparent 590px, transparent 100%);
  }

  .client-contacts__title span {
    padding-left: 0;
  }

  .client-contacts__inner {
    flex-direction: row;

    width: $largeDeviceWidth;
    padding-right: 40px;
    padding-bottom: 19px;
    padding-left: 40px;

    justify-content: space-between;
  }

  .client-contacts__wrapper {
    width: 570px;
    margin: 0;

    flex-basis: 570px;
  }

  .client-contacts__email-icon {
    right: 20px;
  }

  .client-contacts__phone-icon {
    right: 18px;
  }
}
