.client-contacts {
  position: relative;
  z-index: 1;

  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 5px;

  &::before {
    @include title-line();
  }
}

.client-contacts__inner {
  display: flex;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;

  flex-wrap: wrap;
}

.client-contacts__title {
  width: $smallDeviceWidth;
  margin: 0 auto;
  padding: 30px 0 0 0;

  background: linear-gradient(to right, transparent 0, transparent 20px, #ffffff 20px, #ffffff 221px, transparent 221px, transparent 100%);
}

.client-contacts__title span {
  display: inline-block;

  width: 185px;
  padding-right: 50px;
  padding-left: 20px;
}

.client-contacts__wrapper {
  display: flex;

  box-sizing: border-box;
  margin-top: 14px;

  flex-basis: 280px;
  justify-content: space-between;
}

.client-contacts__wrapper--no-margin {
  margin: 0;
}

.client-contacts__label {
  margin-right: 10px;

  align-self: center;
  flex-shrink: 0;
}

.client-contacts__input {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 18px;

  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 13px;
  padding-left: 15px;

  color: $thirdFontColor;
  border: $borderGrayTypeOne;

  flex-grow: 1;

}

.client-contacts__input-email {
 background-image: url("../img/icon-mail.svg");
 background-repeat: no-repeat;
 background-position: 93% 50%;
 background-size: 18px 14px;
}

.client-contacts__input-phone {
 background-image: url("../img/icon-phone.svg");
 background-repeat: no-repeat;
 background-position: 93% 50%;
 background-size: 20px 20px;
}

//Стили для средней ширины
@media (min-width: $mediumDeviceWidth) {
  .client-contacts {
    &::before {
      background: #68b738;
      width: 100%;
      top: 72px;
    }
  }

  .client-contacts__inner {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 52px;
    width: $mediumDeviceWidth;
    min-height: 196px;
    padding-right: 65px;
    padding-left: 71px;
    padding-bottom: 19px
  }

  .client-contacts__title {
    width: $mediumDeviceWidth;
    padding: 50px 0 0;

    background: linear-gradient(to right, transparent 0, transparent 30px, #ffffff 30px, #ffffff 623px, transparent 623px, transparent 100%);
  }

  .client-contacts__title span {
    display: inline-block;

    width: auto;
    padding-right: 50px;
    padding-left: 69px;
  }

  .client-contacts__wrapper {
    height: 52px;
    width: 632px;
    flex-basis: 52px;
  }

  .client-contacts__label {
    margin-left: 15px;
  }

  .client-contacts__input {
    width: 551px;
  }
}

//Стили для большой ширины
@media (min-width: $largeDeviceWidth) {
  .client-contacts__title {
    padding-left: 110px;
  }

  .client-contacts__inner {
    flex-direction: row;

    width: $largeDeviceWidth;
    padding-right: 110px;
    padding-left: 110px;

    justify-content: space-between;
  }
}
