.comment {
  position: relative;
  z-index: 1;

  padding: 0;
  padding-top: 23px;
  padding-bottom: 5px;

  margin-inline-start: 0;
  margin-inline-end: 0;

  &::before {
    @include title-line();
    top: 37px;
  }
}

.comment__inner {
  display: flex;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-right: 20px;
  padding-left: 20px;

  flex-wrap: wrap;
}

.comment__title {
  display: block;

  margin-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;

  background: linear-gradient(to right, transparent 0, transparent 20px, #ffffff 20px, #ffffff 142px, transparent 142px, transparent 100%);
}

.comment__text {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 18px;

  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 13px 16px;

  border: $borderGrayTypeOne;
}

@media (min-width: 768px) {
  .comment__title {
    margin-bottom: 20px;
    padding-left: 71px;
  }

  .comment__inner {
    width: $mediumDeviceWidth;
    height: 174px;
    padding-right: 71px;
    padding-left: 71px;
  }
}

@media (min-width: 1440px) {
  .comment__title {
    margin-bottom: 20px;
    padding-left: 110px;
  }

  .comment__inner {
    width: $largeDeviceWidth;
    padding-right: 110px;
    padding-left: 110px;
  }
}
