.comment {
  position: relative;
  z-index: 1;

  padding: 0;
  padding-top: 0;
  padding-bottom: 5px;

  margin-inline-start: 0;
  margin-inline-end: 0;

  &::before {
    margin-top: 14px;

    @include title-line();
  }
}

.comment__inner {
  display: flex;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-right: 20px;
  padding-left: 20px;

  flex-wrap: wrap;
}

.comment__title {
  font-weight: 400;

  display: block;

  margin-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;

  background: linear-gradient(to right, transparent 0, transparent 20px, #ffffff 20px, #ffffff 142px, transparent 142px, transparent 100%);
}

.comment__text {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 18px;

  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding-top: 13px;
  padding-right: 5px;
  padding-bottom: 13px;
  padding-left: 13px;

  border: $borderGrayTypeOne;
}

//Стили для средней ширины
@media (min-width: $mediumDeviceWidth) {
  .comment {
    padding-bottom: 0;

    &::before {
      width: 100%;
      margin-top: 22px;

      background: #68b738;
    }
  }

  .comment__title {
    margin-bottom: 75px;
    padding-left: 71px;

    background: linear-gradient(to right, transparent 0, transparent 30px, #ffffff 30px, #ffffff 290px, transparent 290px, transparent 100%);
  }

  .comment__inner {
    width: $mediumDeviceWidth;
    min-height: 174px;
    padding-right: 71px;
    padding-bottom: 45px;
    padding-left: 71px;
  }

  .comment__text {
    font-size: $lowFontSize;
    line-height: 20px;

    box-sizing: border-box;
    height: 175px;
    padding: 15px 16px;

    border: $borderGrayTypeOne;
    border-width: 1px;
  }
}

//Стили для большой ширины
@media (min-width: $largeDeviceWidth) {
  .comment {
    padding-top: 25px;

    &::before {
      width: 100%;

      background: #68b738;
    }
  }

  .comment__title {
    margin-bottom: 77px;
    padding-left: 40px;

    background: linear-gradient(to right, transparent 0, transparent 0px, #ffffff 0px, #ffffff 260px, transparent 260px, transparent 100%);
  }

  .comment__inner {
    width: $largeDeviceWidth;
    padding-right: 40px;
    padding-bottom: 45px;
    padding-left: 40px;
  }
}
