.contacts {
  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  line-height: 20px;

  &--background-gray {
    background-color: #f2f2f2;
  }
}

.contacts__inner {
  box-sizing: border-box;
  width: $smallDeviceWidth;
  margin: 0 auto;
}

.contacts__wrapper {
  display: flex;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;

  justify-content: space-between;
}

.contacts__slogan {
  font-size: $basicFontSize;

  width: 140px;
  margin: 0;

  text-transform: uppercase;

  color: $basicFontColor;

  flex-basis: 140px;
}

.contacts__content {
  font-family: "Arial", sans-serif;

  width: 140px;
  margin: 0;

  color: $thirdFontColor;

  flex-basis: 140px;
}

.contacts__map {
  width: 100%;
  height: 362px;

  vertical-align: top;

  border: none;
}

@media (min-width: $mediumDeviceWidth) {
  .contacts--bg-gray {
    background-color: $bgColorTypeOne;
  }

  .contacts__inner {
    box-sizing: border-box;
    width: $mediumDeviceWidth;
    margin: 0 auto;
  }

  .contacts__wrapper {
    width: $mediumDeviceWidth;
    padding-top: 65px;
    padding-right: 70px;
    padding-bottom: 55px;
    padding-left: 30px;

    justify-content: space-between;
  }

  .contacts__slogan {
    font-size: $lowFontSize;
    line-height: 25px;

    width: 140px;
    padding-left: 40px;

    flex-basis: 140px;
  }

  .contacts__content {
    font-size: $basicFontSize;
    line-height: 18px;

    display: flex;
    flex-direction: column;

    width: 160px;
    padding-right: 0;

    text-align: right;

    flex-basis: 160px;
    justify-content: space-between;
  }

  .contacts__map {
    height: 396px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .contacts {
    background-color: #ffffff;
  }

  .contacts__inner {
    z-index: 1;

    height: 0;
    margin: 0;

    background-color: transparent;

    order: 1;
  }

  .contacts__wrapper {
    top: 95px;
    left: 13%;

    width: 570px;
    height: 200px;
    margin-top: -304px;
    margin-left: 210px;
    padding-right: 85px;
    padding-left: 35px;

    background-color: #ffffff;
  }

  .contacts__content {
    text-align: left;
  }

  .contacts__map {
    z-index: 0;

    height: 400px;

    order: 0;
  }
}
