.contacts {
  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  line-height: 20px;

  &--background-gray {
    background-color: #f2f2f2;
  }
}

.contacts__wrapper {
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: flex-start;
  flex-basis: 140px;
}

.contacts__slogan {
  margin: 0;

  text-transform: uppercase;
  color: $basicFontColor;
  letter-spacing: 0.4px;
}

.contacts__content {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $thirdFontColor;
}

.contacts__map {
  width: 320px;
  height: 362px;
  border: none;

  vertical-align: top;
}
