.contacts {
  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  line-height: 20px;

  &--background-gray {
    background-color: #f2f2f2;
  }
}

.contacts__wrapper {
  width: calc($smallDeviceWidth - 40px);
  padding-top: 28px;
  padding-bottom: 26px;

  display: flex;
}

.contacts__slogan {
  margin: 0;

  text-transform: uppercase;
  color: $basicFontColor;
  letter-spacing: 0.4px;
}

.contacts__content {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $thirdFontColor;
}

.contacts__map {
  width: 100%;
  height: 362px;
  border: none;

  vertical-align: top;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    justify-content: space-between;
  }

  .contacts__slogan {
    padding-left: 40px;
    font-size: $lowFontSize;
    line-height: 25px;
    flex-basis: 140px;
    width: 140px;
  }

  .contacts__content {
    padding-right: 40px;
    font-size: $basicFontSize;
    line-height: 20px;
    text-align: right;

    flex-basis: 160px;
    width: 160px;
  }
}
