.copyright {
  font-family: "Arial", sans-serif;
  font-size: $basicFontSize;
  line-height: 16px;

  padding-top: 20px;

  color: $thirdFontColor;
  border-top: $borderGrayTypeFour;
}

@media (min-width: 768px) {
  .copyright {
    padding-top: 0;

    border-top: none;
  }
}
