.example {
  padding-top: 17px;
  padding-bottom: 30px;

  background-color: #f2f2f2;
}

.example__wrapper {
  margin-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
}

.example__title {
  font-family: $oswaldRegular;
  font-size: $largeFontSize;
  font-weight: 400;
  line-height: 60px;

  width: 280px;
  margin: 0 auto;
  margin-bottom: 23px;

  color: $basicFontColor;
}

.example__about {
  font-family: "Arial", sans-serif;
  font-size: $smallFontSize;
  font-weight: 400;
  line-height: 18px;

  margin: 0;
  margin-bottom: 25px;
  padding-right: 5px;

  color: $thirdFontColor;
}

.example__progress {
  display: flex;

  margin-bottom: 34px;

  justify-content: space-between;
}

.example__expenses {
  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  font-weight: 400;
  line-height: 20px;

  margin: 0;

  text-align: center;
  text-transform: uppercase;

  color: $basicFontColor;
}

@media (min-width: $mediumDeviceWidth) {
  .example {
    padding-top: 0;
    padding-bottom: 58px;

    border-top: $borderGrayTypeOne;
    background: linear-gradient(to right, #f2f2f2 0, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);
  }

  .example__wrapper {
    margin-bottom: 33px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .example__title {
    font-size: $bigFontSize;
    line-height: $largeLineHeight;

    width: 708px;
    margin: 0 auto;
    margin-bottom: 64px;
    padding-top: 43px;

    background-color: #ffffff;
  }

  .example__about {
    font-size: $basicFontSize;
    line-height: $mediumLineHeight;

    margin-bottom: 53px;
    padding-right: 10px;
  }

  .example__progress-wrapper {
    display: flex;

    justify-content: space-between;
  }

  .example__progress {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .example__expenses {
    font-size: $lowFontSize;
    line-height: 28px;

    width: 180px;
    padding-top: 8px;

    text-align: right;

    flex-basis: 180px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .example {
    padding-top: 0;
    padding-bottom: 0;

    border-top: none;
    background: linear-gradient(to right, #f2f2f2 0, #f2f2f2 60%, #eaeaea 60%, #eaeaea 100%);
  }

  .example__inner {
    display: flex;

    width: 100%;
    margin: 0 auto;
  }

  .example__wrapper {
    width: 610px;
    margin: 0;
    padding-top: 55px;
    padding-right: 0;
    padding-bottom: 72px;
    padding-left: 40px;

    flex-basis: 610px;
    flex-grow: 1;
  }

  .example__title {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 146px;
    padding-top: 0;
  }

  .example__about {
    margin-bottom: 68px;
    padding-right: 175px;
  }

  .example__progress {
    margin-bottom: 48px;
  }

  .example__progress-wrapper {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .example__expenses {
    display: flex;

    width: auto;
    max-width: 326px;

    flex-basis: auto;
    flex-grow: 1;
    justify-content: space-between;
  }

  .example__slider {
    width: 50%;
    height: 411px;
    padding-bottom: 51px;

    background: linear-gradient(to right, #f2f2f2 0, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);

    align-self: flex-end;
    flex-basis: 600px;
    flex-grow: 1;
  }
}
