.example {
  padding-top: 15px;
  padding-bottom: 30px;

  background-color: #f2f2f2;
}

.example__wrapper {
  margin-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
}

.example__title {
  font-family: $oswaldRegular;
  font-size: $largeFontSize;
  font-weight: 400;
  line-height: 60px;

  margin: 0;
  margin-bottom: 23px;

  color: $basicFontColor;
}

.example__about {
  font-family: "Arial", sans-serif;
  font-size: $smallFontSize;
  line-height: 18px;

  margin: 0;
  margin-bottom: 25px;
  padding-right: 5px;

  color: $thirdFontColor;
}

.example__progress {
  display: flex;

  margin-bottom: 34px;

  justify-content: space-between;
}

.example__expenses {
  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  line-height: 20px;

  margin: 0;

  text-align: center;
  text-transform: uppercase;

  color: $basicFontColor;
}

@media (min-width: $mediumDeviceWidth) {
  .example {
    padding-top: 43px;
    padding-bottom: 60px;

    background: linear-gradient(to bottom, #ffffff 0, #ffffff 620px, #f2f2f2 620px, #f2f2f2 100%);
  }

  .example__wrapper {
    margin-bottom: 15px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .example__title {
    font-size: $bigFontSize;
    line-height: $largeLineHeight;

    width: inherit;
    margin-bottom: 64px;
  }

  .example__about {
    font-size: $basicFontSize;
    line-height: $mediumLineHeight;

    margin-bottom: 53px;
    padding-right: 10px;
  }

  .example__progress-wrapper {
    display: flex;

    justify-content: space-between;
  }

  .example__progress {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .example__expenses {
    font-size: $lowFontSize;
    line-height: 28px;

    width: 180px;
    padding-top: 8px;

    text-align: right;

    flex-basis: 180px;
  }

  .slider__images {
    text-align: center;
  }
}

@media (min-width: $largeDeviceWidth) {
  .example {
    padding-top: 0;
    padding-bottom: 52px;

    background: linear-gradient(to bottom, #ffffff 0, #ffffff 150px, #f2f2f2 150px, #f2f2f2 100%);
  }

  .example__inner {
    display: flex;

    width: $largeDeviceWidth;
    margin: 0 auto;
  }

  .example__wrapper {
    width: 610px;
    margin: 0;
    padding-top: 15px;
    padding-right: 0;
    padding-left: 110px;

    flex-basis: 610px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__about {
    margin-bottom: 68px;
    padding-right: 175px;
  }

  .example__progress {
    margin-bottom: 48px;
  }

  .example__progress-wrapper {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .example__expenses {
    display: flex;

    width: auto;
    max-width: 326px;

    flex-basis: auto;
    flex-grow: 1;
    justify-content: space-between;
  }

  .example__slider {
    width: 610px;

    flex-basis: 610px;
    flex-grow: 1;
  }
}
