.extra-product {
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;

  border-bottom: $borderGrayTypeThree;
}

.extra-product__title {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  font-weight: 400;

  margin: 0;
  margin-bottom: 9px;

  text-transform: uppercase;

  color: $secondaryFontColor;
}

.extra-product__table {
  font-size: $smallFontSize;
  line-height: 14px;

  width: 100%;
  margin-bottom: 12px;
}

.extra-product__button {
  display: inline-block;
}

@media (min-width: $mediumDeviceWidth) {
  .extra-product {
    padding-right: 37px;
    padding-bottom: 27px;
    padding-left: 37px;

    border: $borderGrayTypeThree;
    border-bottom: none;
  }

  .extra-product--border-bottom {
    border-bottom: $borderGrayTypeThree;
  }

  .extra-product__content {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .extra-product__title {
    font-size: $lowFontSize;
  }

  .extra-product__table {
    font-size: $basicFontSize;
    line-height: 10px;

    width: 230px;
    margin-bottom: 13px;
  }

  .extra-product__button {
    font-size: $basicFontSize;

    display: block;
  }
}

@media (min-width: $largeDeviceWidth) {
  .extra-product {
    width: 895px;
    padding-top: 14px;
    padding-right: 0;
    padding-bottom: 17px;
    padding-left: 0;

    border-right: none;
    border-left: none;
  }

  .extra-product__wrapper {
    display: flex;
    flex-direction: row;

    max-width: 895px;

    justify-content: flex-start;
  }

  .extra-product__content {
    max-width: 610px;
    margin-right: 40px;
    padding-top: 0;

    align-items: center;
    flex-grow: 1;
  }

  .extra-product__title {
    line-height: 25px;

    margin-bottom: 0;
  }

  .extra-product__table {
    width: 285px;
    margin-bottom: 0;

    vertical-align: bottom;
  }

  .extra-product__table tr {
    display: flex;

    width: 285px;
    padding-top: 7px;

    border: none;

    justify-content: flex-start;
    align-items: stretch;
  }

  .extra-product__table td {
    width: 142px;
    height: 100%;
    padding-top: 5px;

    flex-grow: 1;
  }


  .extra-product__table td:nth-of-type(2) {
    line-height: 100%;

    padding-top: 0;

    text-align: right;
  }

  .extra-product__button {
    font-size: $basicFontSize;

    box-sizing: border-box;
    width: 245px;

    align-self: center;
  }
}
