.extra-product {
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;

  border-bottom: $borderGrayTypeThree;
}

.extra-product__title {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  font-weight: 400;

  margin: 0;
  margin-bottom: 9px;

  text-transform: uppercase;

  color: $secondaryFontColor;
}

.extra-product__table {
  width: 100%;
  margin-bottom: 10px;
}

.extra-product__button {
  display: inline-block;
}

@media (min-width: 768px) {
  .extra-product {
    padding-right: 38px;
    padding-left: 38px;
  }

  .extra-product--border-top {
    border-top: $borderGrayTypeThree;
  }

  .extra-products__title {
    padding-left: 35px;

    border-bottom: none;
    background: linear-gradient(to right, transparent 0, transparent 30px, #ffffff 30px, #ffffff 340px, transparent 340px, transparent 100%);
  }

  .extra-product__content {
    display: flex;

    align-items: baseline;
    justify-content: space-between;
  }

  .extra-product__table {
    line-height: 10px;

    width: 230px;
  }

  .extra-product__button {
    display: block;
  }
}

@media (min-width: 1440px) {
  .extra-products__inner {
    display: flex;
  }

  .extra-product__wrapper {
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: space-between;
  }
}
