.extra-products {
  padding-left: 20px;
  padding-right: 20px;
}

.extra-products__title {
  display: block;

  font-family: $oswaldRegular;
  font-size: $mediumFontSize;
  font-weight: 400;
  line-height: $mediumLineHeight;
  color: $basicFontColor;

  vertical-align: middle;

  margin: 0;
  padding-top: 29px;
  padding-bottom: 34px;

  border-bottom: $borderGrayTypeThree;
}

.extra-product__table {
  margin-bottom: 10px;
}

.extra-product__button {
  display: inline-block;
}

@media (min-width: 768px) {
  .extra-products {
    padding: 0;
  }

  .extra-products__title {
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 5px;
      background: green;
      top: 50%;
      transform: translateY(-25%);
      z-index: -1;
    }
  }
}
