.extra-bonus {
  padding-top: 39px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.extra-bonus__wrapper {
  position: relative;

  padding-top: 190px;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-left: 60px;

  background-color: #70b447;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    // background-image: url("../img/icon-gift.svg");
    top: 65px;
    left: 113px;

    width: 55px;
    height: 60px;

    content: "";
  }
}

.extra-bonus__content {
  font-family: "Arial", sans-serif;
  font-size: $basicFontSize;
  line-height: 20px;

  margin: 0;

  text-align: center;

  color: #ffffff;
}

@media (min-width: 768px) {
  .extra-bonus {
    padding-right: 30px;
    padding-left: 30px;
  }

  .extra-bonus__wrapper {
    box-sizing: border-box;
    //временные стили
    width: 708px;
    height: 200px;
    padding: 0;
    padding-top: 65px;
    padding-left: 420px;

    background-color: #70b447;
    background-image: none;
  }

  .extra-bonus__content {
    padding: 0;
    padding-right: 100px;

    text-align: left;
  }
}

@media (min-width: 1440px) {
  .extra-bonus {
    padding: 0;
  }

  .extra-bonus__wrapper {
    //временные стили
    width: 245px;
    height: 288px;
    padding-top: 185px;
    padding-right: 40px;
    padding-left: 40px;

    background-image: none;
  }

  .extra-bonus__content {
    padding: 0;

    text-align: center;
  }
}
