.more-product__content {
  position: relative;

  padding-top: 80px;
  padding-bottom: 20px;

  &::before {
    position: absolute;
    top: 40px;
    left: 50%;

    width: 30px;
    height: 2px;

    content: "";
    transform: translateX(-49%);

    background-color: #d3d3d3;
  }

  &::after {
    position: absolute;
    top: 26px;
    left: 50%;

    width: 2px;
    height: 30px;

    content: "";

    background-color: #d3d3d3;
  }
}

.more-product__description {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  font-weight: 400;
  line-height: 20px;

  margin: 0;
  margin-bottom: 7px;

  text-align: center;
  text-transform: uppercase;

  color: $basicFontColor;
}

.more-product__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  margin: 0;

  text-align: center;

  color: $thirdFontColor;
}

@media (min-width: $mediumDeviceWidth) {
  .more-product {
    background-color: #ffffff;
  }

  .more-product__wrapper {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;

    justify-content: flex-end;
  }

  .more-product__content {
    box-sizing: border-box;
    max-width: 250px;
    padding-top: 110px;

    &::before {
      top: 29px;

      width: 60px;

      transform: translateX(-49%);
    }

    &::after {
      top: 0;

      height: 60px;
    }
  }

  .more-product__description {
    max-width: 250px;
    font-size: $lowFontSize;

    margin-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .more-product__text {
    max-width: 250px;
    font-size: $basicFontSize;
    line-height: 19px;

    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .more-product__content {
    width: 169px;
  }


  .more-product__description {
    padding-right: 10px;
    padding-left: 10px;
  }

  .more-product__text {
    padding-right: 0;
    padding-left: 0;
  }
}
