.more-product__content {
  position: relative;

  padding-top: 80px;
  padding-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
    left: 50%;
    transform: translateX(-50%);
    top: 26px;
  }
}

.more-product__description {
  margin: 0;
  margin-bottom: 7px;

  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basicFontColor;
}

.more-product__text {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $thirdFontColor;
}

@media (min-width: 768px) {
  .more-product {
    border: $borderGrayTypeOne;
  }

  .more-product__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #ffffff;
  }

  .more-product__content {
    padding-top: 160px;

    &::before {
      width: 60px;
      top: 78px;
    }

    &::after {
      height: 60px;
      top: 49px;
    }
  }

  .more-product__description {
    font-size: $lowFontSize;
    padding-left: 50px;
    padding-right: 50px;
  }

  .more-product__text {
    font-size: $basicFontSize;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1440px) {
  .more-product__content {
    width: 169px;
  }


  .more-product__description {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .more-product__text {
    padding-left: 0;
    padding-right: 0;
  }
}
