.optionally {
  position: relative;
  z-index: 1;

  padding: 0;
  padding-bottom: 23px;

  margin-inline-start: 0;
  margin-inline-end: 0;

  &::before {
    @include title-line();
    top: 17px;
  }
}

.optionally__inner {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-right: 20px;
  padding-left: 20px;
}

.optionally__title {
  width: $smallDeviceWidth;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;
  padding-top: 3px;

  background: linear-gradient(to right, transparent 0, transparent 20px, #ffffff 20px, #ffffff 184px, transparent 184px, transparent 100%);
}

.optionally__title span {
  display: inline-block;

  width: 185px;
  padding-right: 50px;
  padding-left: 20px;
}

.optionally__wrapper {
  margin-bottom: 0;
  padding: 12px 0;
}

.optionally__checkbox-label {
  position: relative;

  padding-left: 46px;

  &::before {
    position: absolute;
    top: -1spx;
    left: 0;

    width: 28px;
    height: 28px;

    content: "";

    border: 1px solid #cecece;
  }
}

.optionally__checkbox:checked + .optionally__checkbox-label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 21px 16px;
}

.optionally__checkbox:disabled + .optionally__checkbox-label,
.optionally__checkbox:disabled:checked + .optionally__checkbox-label {
  opacity: 0.3;
}

@media (min-width: $mediumDeviceWidth) {
  .optionally__inner {
    flex-direction: row;

    width: $mediumDeviceWidth;
    height: 112px;
    padding-right: 0;
    padding-left: 71px;

    flex-wrap: wrap;
  }

  .optionally__title {
    padding-left: 71px;
  }

  .optionally__wrapper {
    width: 344px;

    flex-basis: 344px;
  }

  .optionally__checkbox-label {
    font-size: $lowFontSize;
    line-height: $lowLineHeight;
  }

  .optionally__checkbox-label::before {
    top: -6px;
    left: 0;

    width: 38px;
    height: 38px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .optionally__inner {
    flex-direction: row;

    width: $largeDeviceWidth;
    padding-right: 110px;
    padding-left: 110px;

    justify-content: space-between;
  }

  .optionally__title {
    padding-left: 110px;
  }

  .optionally__wrapper {
    width: auto;

    flex-basis: auto;
  }
}
