.page-header {
  font-family: "Oswald Medium", "Arial", sans-serif;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  margin: 0 auto;

  text-transform: uppercase;

  background-color: #ffffff;
}

.page-header__wrapper {
  font-family: "Oswald Medium", "Arial", sans-serif;

  display: flex;

  box-sizing: border-box;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;

  text-transform: uppercase;

  border-bottom: 1px solid #e6e6e6;

  justify-content: space-between;
  align-items: center;
}

.page-header__logo-image {
  width: 191px;

  word-wrap: break-word;
}

@media (min-width: 768px) {
  .page-header__container {
    display: flex;

    width: $mediumDeviceWidth;
    padding: 0 30px;

    justify-content: space-between;
  }

  .page-header__wrapper {
    display: inline-block;

    padding-right: 0;
    padding-left: 0;

    border: none;
  }
}

@media (min-width: 1440px) {
  .page-header {
    width: $largeDeviceWidth;
    min-height: 696px;
    padding: 0;

    background: linear-gradient(to right, #ffffff 0, #ffffff 50%, #65a93c 50%, #65a93c 100%);
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
  }


  .page-header--no-promo {
    min-height: 0;

    background: transparent;
  }

  .page-header__wrapper {
    padding-top: 75px;
    padding-left: 110px;
  }

  .page-header__main-menu {
    max-width: 480px;
    padding-top: 52px;
    padding-right: 110px;

    flex-grow: 1;
  }
}
