.page-main {
  font-family: $oswaldRegular;
  font-weight: 500;

  box-sizing: border-box;

  background-color: #ffffff;
}

.page-main__wrapper {
  box-sizing: border-box;
  width: $smallDeviceWidth;
  margin: 0 auto;
}

.page-main__wrapper--no-padding {
  padding: 0;
}

.page-main__title {
  font-family: $oswaldRegular;
  font-size: $largeFontSize;
  font-weight: 400;
  line-height: $largeLineHeight;

  box-sizing: border-box;
  margin: 0;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 28px;

  text-align: center;

  color: $basicFontColor;
  border-bottom: $borderGrayTypeOne;

  &--no-border {
    border-bottom: none;
  }
}

.page-main__program-form {
  width: 100%;
}

@media (min-width: $mediumDeviceWidth) {
  .page-main__wrapper {
    width: $mediumDeviceWidth;
    margin: 0 auto;
  }

  .page-main__title {
    font-size: $bigFontSize;

    width: $mediumDeviceWidth;
    margin: 0 auto;
    margin-bottom: 1px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;

    text-align: left;

    border-bottom: none;
  }

  .page-main__promo {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }

  .page-main__advatages {
    border-bottom: $borderGrayTypeOne;
  }

  .page-main__example {
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 619px, transparent 619px, transparent 100%);
  }

  .page-main__products {
    display: flex;

    box-sizing: border-box;
    width: $mediumDeviceWidth;
    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
  }

  .page-main__product {
    display: flex;

    width: 324px;
    min-height: 571px;
    margin-top: 0;

    flex-basis: 324px;
  }

  .page-main__product--alt-height {
    min-height: 430px;
  }

  .page-main__more-product {
    display: flex;

    box-sizing: border-box;
    width: 322px;

    flex-basis: 322px;
  }

  .page-main__extra-products {
    box-sizing: border-box;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .page-main__wrapper {
    width: $largeDeviceWidth;
    margin: 0 auto;
  }

  .page-main__wrapper--width-reduce {
    width: 570px;
  }

  .page-main__title {
    font-size: $bigFontSize;

    width: $largeDeviceWidth;
    margin-bottom: 0;
    padding-top: 66px;
    padding-right: 40px;
    padding-bottom: 23px;
    padding-left: 40px;
  }

  .page-main__example {
    display: flex;

    box-sizing: border-box;
    width: 100%;

    border: none;
    background: linear-gradient(to top, transparent 0, transparent 463px, #ffffff 463px, #ffffff 100%);
  }

  .page-main__contacts {
    display: flex;
    flex-direction: column;

    padding: 0;
  }

  .page-main__categories {
    display: flex;

    box-sizing: content-box;
    width: 1220px;

    justify-content: space-between;
  }

  .page-main__products {
    width: $largeDeviceWidth;
  }

  .page-main__product {
    width: 245px;

    flex-basis: 245px;
  }

  .page-main__product--min-height {
    min-height: 574px;
  }
}
