.product {
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  border-bottom: 1px solid #ededed;
}

.product__content {
  display: flex;
}

.product__image-container {
  min-width: 140px;
}

.product__image {
  vertical-align: bottom;
}

.product__container {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.product__title {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  font-weight: 400;
  line-height: 20px;

  margin: 0;
  margin-bottom: 11px;
  padding-top: 22px;
  padding-right: 50px;

  text-transform: uppercase;

  color: $basicFontColor;
}

.product__table {
  width: 100%;

  border-collapse: collapse;
}

.product__button {
  font-size: $basicFontSize;
  line-height: 19px;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  min-width: 100px;
  padding-bottom: 10px;

  &--gray {
    color: $thirdFontColor;
    background-color: #f2f2f2;
  }

  &--gray:hover {
    background-color: $bgColorSecondaryHover;
  }

  &--gray:focus {
    background-color: $bgColorSecondaryHover;
  }

  &--gray:active {
    color: $thirdFontColorActived;
    background-color: $bgColorSecondaryHover;
  }
}

@media (min-width: $mediumDeviceWidth) {
  .product {
    box-sizing: border-box;
    padding-top: 55px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;

    border-bottom: none;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 142px, $bgColorTypeOne 142px, $bgColorTypeOne 100%);
  }

  .product--no-bg {
    background: transparent;
  }

  .product--no-padding {
    padding: 0;
  }

  .product__content {
    flex-direction: column;

    align-items: center;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 432px;
    padding-top: 55px;
    padding-right: 37px;
    padding-bottom: 39px;
    padding-left: 37px;

    border: $borderGrayTypeOne;

    justify-content: space-between;
    flex-basis: 432px;
  }

  .product__image-container {
    display: flex;

    min-height: 208px;

    justify-content: center;
    align-items: flex-end;
  }

  .product__title {
    font-size: $lowFontSize;

    margin-bottom: 20px;
    padding: 0 55px;
    padding-top: 40px;

    text-align: center;
  }
}

@media (min-width: $largeDeviceWidth) {
  .product {
    padding-top: 58px;
  }

  .product__container {
    width: 169px;
    margin-bottom: 32px;
  }

  .product__title {
    padding-right: 15px;
    padding-left: 15px;
  }

  .prorduct__table {
    margin-bottom: 0;
  }
}
