.product {
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  border-bottom: 1px solid #ededed;
}

.product__content {
  display: flex;
}

.product__image {
  vertical-align: bottom;
}

.product__container {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.product__title {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  font-weight: 400;
  line-height: 20px;

  margin: 0;
  margin-bottom: 10px;
  padding-top: 22px;
  padding-right: 50px;

  text-transform: uppercase;

  color: $basicFontColor;
}

.product__table {
  width: 100%;

  border-collapse: collapse;
}

.product__button {
  font-size: $basicFontSize;
  line-height: 19px;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  min-width: 100px;

  &--gray {
    color: $thirdFontColor;
    background-color: #f2f2f2;
  }
}

@media (min-width: 768px) {
  .product {
    box-sizing: border-box;
    padding-top: 55px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;

    border-bottom: none;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 140px, $bgColorTypeOne 140px, $bgColorTypeOne 100%);
  }

  .product--alt-bgcolor {
    background: #ffffff;
  }

  .product__content {
    min-height: 403px;
    flex-direction: column;

    align-items: center;
  }

  .product__image-container {
    display: flex;
    min-height: 208px;
    justify-content: center;
    align-items: flex-end;
  }

  .product__title {
    font-size: $lowFontSize;

    margin-bottom: 20px;
    padding: 0 55px;
    padding-top: 40px;

    text-align: center;
  }
}

@media (min-width: 1440px) {
  .product__container {
    width: 169px;
  }

  .product__title {
    padding-right: 20px;
    padding-left: 20px;
  }
}
