.product {
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid #ededed;
}

.product__content {
  display: flex;
}

.product__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 22px;
  padding-right: 50px;

  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  font-weight: 400;
  line-height: 20px;
  color: $basicFontColor;
  text-transform: uppercase;
}

.product__table {
  border-collapse: collapse;
  width: 100%;
}

.product__button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 100px;
  width: 100%;

  font-size: $basicFontSize;
  line-height: 19px;

  &--gray {
    background-color: #f2f2f2;
    color: $thirdFontColor;
  }
}

@media (min-width: 768px) {
  .product {
    border-bottom: none;
    padding-left: 38px;
    padding-right: 38px;

    background-color: $bgColorTypeOne;
  }

  .product__content {
    flex-direction: column;
    align-items: center;
  }

  .product__title {
    padding: 0 70px;
    padding-top: 50px;
    text-align: center;
    font-size: $lowFontSize;
  }
}

@media (min-width: 1440px) {
  .product__container {
    width: 169px;
  }

  .product__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
