@media (min-width: $mediumDeviceWidth) {
  .products {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .products {
    padding-right: 110px;
    padding-left: 110px;
  }
}
