.progress__value {
  position: relative;

  margin: 0;
  padding-top: 16px;
  padding-bottom: 22px;
  flex-basis: 122px;
  width: 122px;


  border: $borderGrayTypeThree;
  border-radius: 2px;

  font-family: $oswaldRegular;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;
  text-transform: uppercase;
  color: $basicFontColor;
  text-align: center;
}

.progress__type {
  position: absolute;
  padding: 0 8px;

  width: auto;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);


  font-family: "Arial", sans-serif;
  font-size: $tinyFontSize;
  line-height: 12px;
  text-transform: none;
  color: $thirdFontColor;

  background-color: $bgColorSecondary;
}

@media (min-width: 768px) {
  .progress {
    margin-bottom: 0;
  }

  .progress__value {
    margin-right: 42px;
    flex-basis: 160px;
    width: 160px;
    padding-bottom: 17px;
    font-size: 30px;
    line-height: 37px;
  }

  .progress__type {
    width: 114px;
    font-size: $smallFontSize;
    line-height: $smallLineHeight;

    background-color: #ffffff;
  }

  .progress__type--large-width {
    width: 142px;
  }
}
