.program-form__description {
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  line-height: 18px;
  text-transform: uppercase;
  color: $basicFontColor;
}

.program-form__item {
  box-sizing: border-box;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border: none;
  border-bottom: $borderGrayTypeTwo;
}

.program-form__purpose {
  margin-bottom: 20px;

  width: 100%;
}
