.program-form__description {
  font-family: $oswaldRegular;
  font-size: $smallFontSize;
  line-height: 18px;

  margin-bottom: 36px;
  padding-right: 20px;
  padding-left: 20px;

  text-transform: uppercase;

  color: $basicFontColor;
}

.program-form__item {
  box-sizing: border-box;

  border: none;
}

.program-form__item--border {
  border-bottom: $borderGrayTypeOne;
}

.program-form__item .program-form__item-title {
  font-family: $oswaldRegular;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;

  color: $basicFontColor;
}

.program-form__item .program-form__label {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 18px;

  text-transform: uppercase;

  color: $basicFontColor;
}

.program-form__about-cat {
  width: 100%;
  margin-bottom: 20px;
}

.program-form__purpose {
  width: 100%;
  margin-bottom: 20px;
}

.program-form__contacts {
  width: 100%;
  margin-bottom: 20px;
}

.program-form__comment {
  width: 100%;
  margin-bottom: 20px;
}

.program-form__optionally {
  width: 100%;
  margin-bottom: 7px;
}

.program-form__input:hover {
  border: $borderGrayTypeThree;
}

.program-form__input:focus {
  border-color: transparent;
  outline: $borderGrayTypeFive;
}

.program-form__input:active {
  border-color: transparent;
  outline: $borderGrayTypeFive;
}

.program-form__input--error:focus {
  border-color: transparent;
  outline: $borderGrayTypeSix;
}

.program-form__input--error:focus + svg .program-form__input-icon {
  fill: #ff8282;
}

.program-form__radio-btn:hover {
  &::before {
    border: 1px solid #bcbcbc;
  }
}

.program-form__radio-btn:active {
  color: rgba(17, 17, 17, 0.3);

  &::before {
    opacity: 0.3;
  }

  &::after {
    opacity: 0.3;
  }
}

.program-form__checkbox-btn:hover {
  &::before {
    border: 1px solid #bcbcbc;
  }
}

.program-form__checkbox-btn:active {
  color: rgba(17, 17, 17, 0.3);

  &::before {
    opacity: 0.3;
  }

  &::after {
    opacity: 0.3;
  }
}

.program-form__button-wrapper {
  padding: 0 20px 33px;
}

.program-form__button-submit {
  font-size: $basicFontSize;
  line-height: 18px;

  width: 100%;
  margin-bottom: 20px;

  border: none;
}

.program-form__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: $smallFontSize;
  line-height: $basicLineHeight;

  margin: 0;

  text-align: center;

  color: $thirdFontColor;
}

//Стили для средней ширины
@media (min-width: $mediumDeviceWidth) {
  .program-form {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .program-form__description {
    font-size: $lowFontSize;
    line-height: 30px;

    margin-bottom: 60px;
    padding-right: 355px;
    padding-left: 71px;
  }

  .program-form__item .program-form__item-title {
    font-size: $largeFontSize;
    line-height: 36px;
  }

  .program-form__item--border {
    border: none;
  }

  .program-form__radio-input:focus + .program-form__radio-btn {
    border-color: transparent;
    box-shadow: 0 0 0 1px #ffffff,  0 0 0 3px #444444;
  }

  .program-form__checkbox-input:focus + .program-form__checkbox-btn {
    border-color: transparent;
    box-shadow: 0 0 0 9px #ffffff,  0 0 0 11px #444444;
  }

  .program-form__item .program-form__label {
    font-size: $lowFontSize;
    line-height: 20px;
  }

  .program-form__button-wrapper {
    display: flex;

    width: $mediumDeviceWidth;
    margin: 0 auto;
    padding-right: 71px;
    padding-left: 71px;

    justify-content: space-between;
  }

  .program-form__button-submit {
    font-size: $lowFontSize;
    line-height: $lowLineHeight;

    max-width: 283px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 17px;

    flex-grow: 1;
  }

  .program-form__text {
    font-size: $basicFontSize;
    line-height: 16px;

    width: 344px;
    max-width: 283px;

    text-align: left;

    flex-grow: 1;
    align-self: center;
  }
}

//Стили для большой ширины
@media (min-width: $largeDeviceWidth) {
  .program-form {
    padding-top: 33px;
    padding-bottom: 48px;
  }

  .program-form__description {
    padding-right: 950px;
    padding-left: 110px;
  }

  .program-form__container {
    display: flex;

    box-sizing: border-box;
    width: 1220px;
    margin: 0 auto;

    justify-content: space-between;
  }

  .program-form__about-cat {
    width: 570px;

    flex-basis: 570px;
  }

  .program-form__purpose {
    width: 570px;

    flex-basis: 570px;
  }

  .program-form__button-wrapper {
    width: $largeDeviceWidth;
    margin: 0 auto;
    padding-right: 110px;
    padding-left: 110px;
  }

  .program-form__button-submit {
    font-size: $lowFontSize;
    line-height: $lowLineHeight;

    max-width: 570px;
  }

  .program-form__text {
    width: 570px;
    max-width: 570px;

    text-align: left;

    flex-basis: 570px;
  }

  .program-form__radio-input:focus + .program-form__radio-btn {
    border-color: transparent;
    box-shadow: 0 0 0 4px #ffffff,  0 0 0 6px #444444;
  }
}
