.promo {
  font-family: $oswaldRegular;

  min-height: 450px;
  padding-top: 26px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  color: $fourthFontColor;
}

.promo--background {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  font-size: $largeFontSize;
  font-weight: 400;
  line-height: 36px;

  margin: 0;
  margin-bottom: 24px;
}

.promo__slogan {
  font-size: $smallFontSize;
  font-weight: 400;
  line-height: $smallLineHeight;

  display: inline-block;

  margin-bottom: 28px;

  text-transform: uppercase;
}

.promo__image {
  width: 280px;
  height: 271px;
}

.promo__button {
  display: inline-block;

  margin-top: 2px;
}

@media (min-width: $mediumDeviceWidth) {
  .promo {
    text-align: left;

    color: $basicFontColor;
    background-color: #ffffff;
    background-image: none;
  }

  .promo__title {
    font-size: $bigFontSize;
    font-weight: 400;
    line-height: $largeLineHeight;

    max-width: 460px;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-right: 180px;
    padding-left: 97px;
  }

  .promo__slogan {
    font-size: $lowFontSize;
    font-weight: 400;
    line-height: $lowLineHeight;

    margin-bottom: 20px;
    padding-left: 97px;
  }

  .promo__image {
    position: relative;
    bottom: 0;
    left: 9px;

    width: 709px;
    height: 609px;

    vertical-align: bottom;
  }

  .promo__button {
    font-size: $lowFontSize;
    line-height: $lowLineHeight;

    z-index: 1;

    min-width: 195px;
    margin-top: -580px;
    margin-bottom: 507px;
    margin-left: 99px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 17px;
    padding-left: 25px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .promo {
    height: 0;
    min-height: 0;
    padding-top: 0;
    padding-right: 110px;
    padding-left: 120px;
  }

  .promo__title {
    max-width: 450px;
    margin-top: -500px;
    padding-right: 600px;
    padding-left: 0;
  }

  .promo__slogan {
    margin-bottom: 16px;
    padding-left: 0;
  }

  .promo__image {
    bottom: 275px;
    left: 370px;

    width: 552px;
    height: 499px;
  }

  .promo__button {
    margin-top: -460px;
    margin-left: 0;
  }
}
