.purpose {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 24px;
}

.purpose__inner {
  display: flex;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-right: 20px;
  padding-left: 20px;
}

.purpose__wrapper {
  padding-top: 4px;
  display: flex;
  flex-direction: column;

  width: $smallDeviceWidth;
}

.purpose__radio-label {
  position: relative;

  margin-bottom: 25px;
  padding-left: 46px;

  &::before {
    position: absolute;
    top: -6px;
    left: 0;

    width: 28px;
    height: 28px;

    content: "";

    border: 1px solid #cecece;
    border-radius: 50%;
  }
}

.purpose__radio-label:last-of-type {
  margin-bottom: 0;
}

.purpose__radio:checked + .purpose__radio-label::after {
  position: absolute;
  top: 50%;
  left: 9px;

  width: 12px;
  height: 12px;

  content: "";
  transform: translateY(-50%);

  border-radius: 50%;
  background-color: #68b738;
}

.purpose__radio:disabled + .purpose__radio-label {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .purpose__inner {
    width: 720px;
    padding-right: 71px;
    padding-left: 71px;
  }

  .purpose__wrapper {
    display: flex;
    flex-direction: column;

    width: 630px;
    padding-top: 23px;
    padding-right: 27px;
    padding-bottom: 23px;
    padding-left: 27px;

    border: $borderGrayTypeOne;
  }
}

@media (min-width: 1440px) {
  .purpose {
    padding-top: 0;
    padding-bottom: 0;
  }

  .purpose__inner {
    width: 720px;
    min-height: 196px;
    padding-right: 71px;
    padding-left: 71px;
  }

  .purpose__wrapper {
    display: flex;

    justify-content: space-between;
  }
}
