.purpose {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 23px;
}

.purpose__inner {
  display: flex;
  flex-direction: column;
}

.purpose__radio-label {
  margin-bottom: 25px;
  padding-left: 46px;
}
