.purpose {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 24px;
}

.purpose__inner {
  display: flex;

  box-sizing: border-box;
  width: $smallDeviceWidth;
  padding-right: 20px;
  padding-left: 20px;
}

.purpose__wrapper {
  padding-top: 4px;
  display: flex;
  flex-direction: column;

  width: $smallDeviceWidth;
}

.purpose__radio-label {
  position: relative;

  margin-bottom: 25px;
  padding-left: 46px;

  &::before {
    position: absolute;
    top: -6px;
    left: 0;

    width: 28px;
    height: 28px;

    content: "";

    border: 1px solid #cecece;
    border-radius: 50%;
  }
}

.purpose__radio-label:last-of-type {
  margin-bottom: 0;
}

.purpose__radio:checked + .purpose__radio-label::after {
  position: absolute;
  top: 50%;
  left: 9px;

  width: 12px;
  height: 12px;

  content: "";
  transform: translateY(-50%);

  border-radius: 50%;
  background-color: #68b738;
}

.purpose__radio:disabled + .purpose__radio-label {
  opacity: 0.5;
}

//Стили для средней ширины
@media (min-width: $mediumDeviceWidth) {
  .purpose__inner {
    width: 772px;
    padding-right: 71px;
    padding-left: 71px;
  }

  .purpose__wrapper {
    display: flex;
    flex-direction: column;

    width: 630px;
    padding-top: 13px;
    padding-right: 27px;
    padding-bottom: 23px;
    padding-left: 27px;

    border: $borderGrayTypeOne;
  }

  .purpose__radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 60px;
    min-height: 40px;

    &::before {
      top: 10px;
      left: -1px;

      width: 40px;
      height: 40px;
    }
  }

  .purpose__radio:checked + .purpose__radio-label::after {
    top: 50%;
    left: 11px;
    transform: translateY(-25%);

    width: 18px;
    height: 18px;
  }
}

//Стили для большой ширины
@media (min-width: $largeDeviceWidth) {
  .purpose {
    padding-top: 6px;
    padding-bottom: 0;
  }

  .purpose__inner {
    display: flex;
    max-width: 570px;
    padding-right: 0;
    padding-left: 0;
  }

  .purpose__wrapper {
    box-sizing: border-box;
    display: flex;
    width: 570px;
    padding-top: 19px;
    padding-bottom: 22px;

    justify-content: space-between;
  }

  .purpose__radio-label {
    margin-bottom: 6px;
    padding-top: 4px;

    &::before {
      top: 4px;
      left: -1px;
    }
  }

  .purpose__radio:checked + .purpose__radio-label::after {
    top: 50%;
    left: 11px;
    transform: translateY(-43%);

    width: 18px;
    height: 18px;
  }
}
