.slider__wrapper {
  box-sizing: border-box;
  width: $smallDeviceWidth;
  margin: 0 auto;
}

.slider__images {
  margin-bottom: 30px;

  width: 320px;

  text-align: center;
}

.slider__images-container:first-of-type {
  width: 320px;
  height: 240px;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px 240px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
  }
}

.slider__images-container:last-of-type {
  width: 320px;
  height: 240px;
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px 240px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/after-mobile@2x.png");
  }
}

.slider__images-container {
  display: none;
}

.slider__images-container--current {
  display: block;
}

.slider__buttons {
  display: flex;

  padding-right: 60px;
  padding-bottom: 6px;
  padding-left: 63px;

  justify-content: space-between;
}

.slider__button {
  font-family: $oswaldRegular;
  font-size: $basicFontSize;
  line-height: 20px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: $basicFontColor;
  border: none;
  background-color: transparent;
}

.slider__toggle {
  position: relative;

  width: 82px;
  height: 12px;

  border: $borderGrayTypeThree;
  border-radius: 10px;
  background-color: #ffffff;

  flex-basis: 82px;
  align-self: center;
}

.slider__toggle-item {
  position: absolute;

  border: none;
  top: 50%;
  left: 5px;

  width: 35px;
  height: 6px;

  content: "";
  transform: translateY(-50%);

  border-radius: 10px;
  background-color: #68b738;
}

.slider__toggle-item--right {
  transform: translate(100%, -50%);
}

@media (min-width: $mediumDeviceWidth) {
  .slider__images-container {
    display: block;
  }

  .slider__wrapper {
    width: $mediumDeviceWidth;
  }

  .slider__images {
    display: flex;

    margin: 0 auto;

    width: 708px;
    min-height: 515px;

    margin-bottom: 10px;

    justify-content: center;
    align-items: center;
  }

  .slider__images-container:first-of-type {
    object-fit: cover;
    width: 680px;
    height: 515px;
    flex-grow: 1;
    flex-shrink: 1;
    right: 10px;
    background-image: url("../img/before-tablet@1x.png");
    background-position-x: 16px;
    background-repeat: no-repeat;
    background-size: 680px 515px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
      width: 680px;
      height: 515px;
    }
  }

  .slider__images-container:last-of-type {
    object-fit: cover;
    width: 680px;
    height: 515px;
    flex-grow: 1;
    flex-shrink: 1;
    left: 10px;
    background-image: url("../img/after-tablet@1x.png");
    background-position-x: -338px;
    background-repeat: no-repeat;
    background-size: 680px 515px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
      width: 680px;
      height: 515px;
    }
  }

  .slider__buttons {
    height: 40px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .slider__button {
    font-size: $lowFontSize;
    line-height: $lowLineHeight;

    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      border: none;
    }
  }

  .slider__toggle {
    max-width: 428px;
    height: 6px;

    border: none;
    background-color: #cdcdcd;

    flex-grow: 1;
  }

  .slider__toggle-item {
    padding: 0;
    top: 50%;
    left: 50%;

    width: 32px;
    height: 32px;

    transform: translate(-50%, -50%);

    border: $borderGrayTypeThree;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 8px;
      height: 8px;

      content: "";

      border-radius: 50%;
      background-color: #68b738;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-width: 2px;
      border-color: #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: $largeDeviceWidth) {
  .slider__wrapper {
    width: 720px;
  }

  .slider__images {
    min-height: 325px;
    margin: 0;
    margin-bottom: 32px;
  }

  .slider__buttons {
    padding-right: 110px;
    padding-left: 40px;
    justify-content: flex-start;
  }

  .slider__toggle {
    width: 428px;
    margin-left: 25px;
    margin-right: 21px;
  }

  .slider__images-container:first-of-type {
    margin-top: -190px;
    margin-left: -55px;
    object-fit: cover;

    width: 680px;
    height: 515px;

    background-image: url("../img/before-desktop@1x.png");
    background-position-x: 16px;
    background-repeat: no-repeat;
    background-size: 680px 515px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");

    }
  }

  .slider__images-container:last-of-type {
    margin-top: -190px;
    margin-right: 3px;

    width: 680px;
    height: 515px;

    background-image: url("../img/after-desktop@1x.png");
    background-position-x: -364px;
    background-repeat: no-repeat;
    background-size: 680px 515px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-desktop@2x.png");
    }
  }
}
