.social {
  padding-top: 24px;

  border-top: 1px solid #d9d9d9;
}

.social__icon--vk:hover g,
.social__icon--inst:hover .st0,
.social__icon--fb:hover g {
  fill: #68b738;
}

.social__icon--vk:focus g,
.social__icon--inst:focus .st0,
.social__icon--fb:focus g {
  fill: #68b738;
}

.social__icon--vk:active g,
.social__icon--inst:active .st0,
.social__icon--fb:active g {
  opacity: 0.3;
}

@media (min-width: $mediumDeviceWidth) {
  .social {
    padding-top: 0;

    border-top: none;
  }

  .social__icon--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__icon--inst svg {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb svg {
    width: 14px;
    height: 28px;
  }
}
