.table-properties {
  font-family: "Arial", sans-serif;
  font-size: $tinyFontSize;
  line-height: 15px;

  color: $thirdFontColor;
}

.table-properties__property {
  text-align: left;
  height: 5px;
}

.table-properties__value {
  height: 5px;

  text-align: right;
}

@media (min-width: 768px) {
  .table-properties {
    font-size: $basicFontSize;

    margin-bottom: 31px;
  }

  .table-properties__property {
    height: 29px;

    text-align: left;
  }

  .table-properties__property--align {
    text-align: right;
  }

  .table-properties__row {
    border-bottom: $borderGrayTypeThree;
  }

  .table-properties__value--align {
    width: 87px;
  }
}
