.table-properties {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: $tinyFontSize;
  line-height: 15px;

  color: $thirdFontColor;
}

.table-properties__property {
  height: 5px;

  text-align: left;
}

.table-properties__value {
  height: 5px;

  text-align: right;
}

@media (min-width: $mediumDeviceWidth) {
  .table-properties {
    font-size: $basicFontSize;

    margin-bottom: 31px;
  }

  .table-properties__property {

    height: 29px;

    text-align: left;
  }

  .table-properties__property--align {
    padding-top: 10px;
    text-align: right;
  }

  .table-properties__row {
    border-bottom: $borderGrayTypeThree;
  }

  .table-properties__value--align {
    width: 87px;
  }
}


@media (min-width: $largeDeviceWidth) {
  .table-properties {
    font-size: $basicFontSize;

    margin-bottom: 0;
  }

  .table-properties__property--align {
    width: 87px;

    text-align: left;
  }

  .table-properties__value--align {
    width: 87px;
  }
}
