body {
  margin: 0 auto;
  min-width: 320px;
}

main {
  display: block;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media (min-width: 1440px) {
  body {
    min-width: 1440px;
  }
}
