@mixin reset-styles {
  margin: 0;
  padding: 0;
}

@mixin title-line {
  position: absolute;
  z-index: -1;
  top: 43px;

  width: 100%;
  height: 3px;

  content: "";

  background: linear-gradient(to right, transparent 0, transparent 50%, #68b738 50%, #68b738 100%);
}
